body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #00a00d;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 2rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.event-card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}

.event-card:last-child {
  margin-bottom: 0;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card .card-body {
  padding: 1rem;
}

.event-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.event-card .card-text {
  font-size: 1rem;
  color: #555;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button-container a {
  text-decoration: none;
  background-color: #00b233;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button-container a:hover {
  background-color: #39f455;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  font-size: 1rem;
}

.footer:hover {
  background-color: #444;
  transition: background-color 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .event-card {
    margin-bottom: 30px;
  }
}
